body {
    background: linear-gradient(to top right, #0c0c0c, #4a4a4a);
  }
  
  div {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
        top: 30%;

  }

  button {
    background-image: url(sampeiros44.png);
    background-size: cover;
    width: 177px;
    height: 314px;
  }


  button.samp {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  

  button:hover {
    animation: an1 0.2s  ease-in-out forwards 1;
    
  }

  @keyframes an1 {
    100%  {transform: scale(0.8);}
    
  }

  
