html,body {
    background: linear-gradient(to top right, #0c0c0c, #4a4a4a);
    height: 100%;
    margin: 0;
  }
  
   div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
   }

  img {
    transition: all .3s ease-in-out;
    display: block;
    margin: auto;
    
  }

  img:hover {
    transform: scale(0.8);
  }

  @keyframes an1 {
    0% {
      transform: scale(1);
    }

    100%  {
      transform: scale(0.8);
    }
    
  }

  
